.filter-button {
  margin: 1px;
  padding: 10px;
  height: 80px;
  width: 100px;
  gap: 3px;
  background-color: var(--main-bg-color);
  border: none;
  font-family: var(--title-font);
  font-size: 0.8em;
  color: var(--warm-prime);
}

.filter-button img {
  height: 50px;
}

.filter-button a {
  color: var(--warm-prime);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
