/*GLOBAL CSS*/
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  /*COLORS*/
  --main-bg-color: #eedddd;
  --dark-prime: #283d3b;
  --dark-second: #197278;
  --warm-prime: #772e25;
  --warm-second: #c44536;

  /*FONTS*/
  --title-font: "Artifika", serif;
  --body-font: "Noto Sans", sans-serif;

  /*SIZES*/
  --base-font-size: 1rem;
}

img {
  background-color: black;
}

h1 {
  font-family: var(--title-font);
  font-size: 2.5em;
}

p {
  font-family: var(--body-font);
}
