/*GLOBAL CSS*/
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*COLORS*/
  --main-bg-color: #eedddd;
  --main-text: white;
  --dark-prime: #283d3b;
  --dark-second: #197278;
  --warm-prime: #772e25;
  --warm-second: #c44536;

  /*FONTS*/
  --title-font: "Artifika", serif;
  --body-font: "Noto Sans", sans-serif;

  /*SIZES*/
  --base-font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  color: var(--main-text);
  font-size: 2.5em;
}

h2 {
  font-family: var(--title-font);
  font-size: 2em;
  color: var(--warm-prime);
  text-align: center;
  margin: 1em;
}

p {
  font-family: var(--body-font);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

body {
  background-color: var(--dark-prime);
}
.intro-text {
  font-family: var(--title-font);
  text-align: center;
}

.list-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
