.global-search-result-category {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
