.detailLigne {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.listestat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
