#container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  height: 400px;
  width: 80%;
  justify-content: center;
  gap: 30px;
  -webkit-box-shadow: 0px 3px 17px 1px #ffffff;
  box-shadow: 0px 3px 17px 1px #ffffff;
}

#container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  height: 600px;
  width: 80%;
  justify-content: center;
  gap: 30px;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 3px 17px 1px #ffffff;
  box-shadow: 0px 3px 17px 1px #ffffff;
}

.h1Button {
  color: white !important;
}

#container2 h1,
#container1 h1 {
  color: #772e25;
}
#container2,
#container1 p {
  color: #000000;
}

.button {
  background-color: var(--warm-prime);
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ffa84d;
  scale: 1.1;
}

.HeaderHome {
  background-image: url("/src/assets/images/GreatThree_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; /* Hauteur égale à la hauteur de la fenêtre */
  align-items: center;
  justify-content: center;
}

.imageCenter {
  margin-right: 6%;
  filter: drop-shadow(rgb(0, 52, 115) 1px 0 10px);
}
ul {
  height: 400px;
}

.MeadleHome {
  background-image: url("/src/assets/images/BattleField.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.navItemBestiary,
.navItemRules,
.navItemClass {
  height: 350px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 20px;
}
.navItemBestiary {
  background-image: url("https://imgix.bustle.com/uploads/image/2023/5/2/bf754252-94b8-461a-8a36-64a35ecaa848-elden-ring-book.jpg?w=394&h=600&fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.4218");
  background-size: cover;
}
.navItemRules {
  background-image: url("https://larpempire.files.wordpress.com/2020/10/10b182866cb6717e1b90eae1543c5bec.jpg");
  background-size: cover;
  height: 350px;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.navItemClass {
  background-image: url("/src/assets/images/Classes.png");
  background-size: cover;
}
.navItemBestiary:hover,
.navItemRules:hover,
.navItemClass:hover {
  filter: grayscale(80%);
  transform: scale(1.1);
}

.navItemBestiary h1,
.navItemRules h1,
.navItemClass h1 {
  justify-self: flex-end !important;
  color: white !important;
  filter: drop-shadow(rgb(0, 52, 115) 1px 0 10px) !important;
}

@media (max-width: 900px) {
  #container2,
  #container1 {
    text-align: center;
  }
  h1 {
    font-size: 35px;
  }
  .imageCenter {
    float: right;
    width: auto;
  }

  li {
    font-weight: bold;
  }
  .icon {
    width: 150px !important;
    height: 200px !important;
  }

  .imageCenter {
    height: 200px;
  }

  .navItemBestiary,
  .navItemRules,
  .navItemClass {
    height: 200px;
    width: 136px;
  }
  #container2 ul {
    margin-left: 3%;
  }
  .navItemBestiary h1,
  .navItemRules h1,
  .navItemClass h1 {
    font-size: 20px;
  }

  .navItemBestiary:hover,
  .navItemRules:hover,
  .navItemClass:hover {
    filter: grayscale(80%);
    transform: scale(1.01);
  }
  #container2 {
    height: 700px;
  }
}

.listOption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
