nav {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px 0 0;
  align-items: center;
  gap: 50px;
  z-index: 20;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
  align-items: center;
  height: 50px;
}
nav li {
  display: flex;
  height: 50px;
  align-items: center;
}
nav li a {
  color: white;
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 1.5sem;
}

.navItem {
  align-items: center;
}

nav li:hover {
  background-color: rgb(110, 110, 110);
}

@media only screen and (max-width: 768px) {
  nav {
    gap: 10px;
  }

  nav li a {
    font-size: 0.8em;
  }
}
